@model IEnumerable<Entities.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Genres", new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", "Genres", new { id=item.GenreId }, null) |
            @Html.ActionLink("Delete", "Delete", "Genres", new { id=item.GenreId }, null)
        </td>
    </tr>
}

</table>
